# LOCAL DEVELOPMENT (Anvil)
RPC_URL=http://127.0.0.1:8545
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
CHAIN_ID=31337

# SEPOLIA TESTNET (uncomment khi deploy len testnet)
# RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
# PRIVATE_KEY=your_real_private_key_here
# CHAIN_ID=11155111

# CONTRACT ADDRESSES (cap nhat sau khi deploy)
DID_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
SOULBOUND_ADDRESS=0x0000000000000000000000000000000000000000

# IPFS - Pinata (https://app.pinata.cloud)
IPFS_API_KEY=your_pinata_api_key
IPFS_SECRET_KEY=your_pinata_secret_key
IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/

# BACKEND
BACKEND_PORT=8000
SQLITE_DB_PATH=./backend/ssi.db
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:5500,http://127.0.0.1:5173
